{
  "paths": {
		"base_path": "~/Scripts/ScreenArt",
		"image_dir": "~/Scripts/ScreenArt/Images",
		"favorites_in": "~/Scripts/ScreenArt/Images/Favorites",
		"generators_in": "~/Scripts/ScreenArt/Images/Generators",
		"transformers_out": "~/Scripts/ScreenArt/Images/TransformedImages",
		"rejected_out": "~/Scripts/ScreenArt/Images/Rejected",
		"wiki_out": "~/Scripts/ScreenArt/Images/Generators/Wiki",
		"maps_out": "~/Scripts/ScreenArt/Images/Generators/Maps",
		"goes_out": "~/Scripts/ScreenArt/Images/Generators/GOES",
		"nasa_cache": "~/Scripts/ScreenArt/Images/cache/nasa",
		"wiki_cache": "~/Scripts/ScreenArt/Images/cache/wiki",
		"menubar_file": "~/Scripts/ScreenArt/menubar_file.txt"
	},
	"pipeline": {
		"pipelines": [
			{"radialwarptransformer": 91},
			{"anamorphictransformer": 45},
			{"watercolortransformer": 45},
			{"colormaptransformer": 41},
			{"swirlwarptransformer": 35},
			{"invertrgbtransformer": 23},
			{"duotonetransformer": 21},
			{"meltmorphtransformer": 19},
			{"fractalwarptransformer": 11},
			{"xraytransformer": 11},
			{"flipwilsontransformer": 10},
			{"wheeltransformer": 10},
			{"halftonetransformer": 9},
			{"datamoshtransformer": 7},
			{"glitchwarptransformer": 7},
			{"fluidwarptransformer": 5},
			{"tritonetransformer": 3},
			{"posterizationtransformer": 1},
			{"threedextrusiontransformer": 1},
			{"thermalimagingtransformer": 1},
			{"fisheyetransformer": 10}
		],
		"#include": ["flipwilsontransformer", "wheelTransformer"]
	},
	"radialwarptransformer": {
		"file_count": 5,
		"style": "?",
		"strength": "70.0",
		"center_x": [0.25, 0.50, 0.75],
		"center_y": [0.25, 0.50, 0.75],
		"radius": 0.25  
	},
	"fisheyetransformer": {
		"strength": "?",
		"zoom": "?",
		"shape": "?"
	},
	"fluidwarptransformer": {
		"alpha": "0.1",
		"octaves": 3,
		"persistence": 0.75
	},
	"fractalwarptransformer": {
		"iterations": 1,
		"scale": 0.05
	},
	"glitchwarptransformer": {
		"warp_intensity": 0.005
	},
	"swirlwarptransformer": {
		"strength": 1.5
	},
	"meltmorphtransformer": {
		"melt_intensity": 0.5
	},
	"threedextrusiontransformer": {
		"extrusion_intensity": 0.5,
		"ambient_light": "?"
	},
	"anamorphictransformer": {
		"count": 5,
		"streak_colors": [
			"FFFF00",
			"BFBF40",
			"808080",
			"4040BF",
			"0000FF"
		],
		"streak_intensity": [0.0, 0.2, 0.4, 0.6, 0.8]
	},
	"duotonetransformer": {
	},
	"halftonetransformer": {
		"dot_size": 1
	},
	"tritonetransformer": {
	},
	"colormaptransformer": {
		"mode": "random"
	},
	"datamoshtransformer": {
	},
	"posterizationtransformer": {
		"levels": 2 
	},
	"watercolortransformer": {
	},
	"xraytransformer": {
		"num_colors": 256
	},
	"thermalimagingtransformer": {
	},
	"wiki": {
		"file_count": 1,
		"keyword_file": "/Users/kenfasano/Scripts/ScreenArt/defaultWikiKeywords.txt",
		"image_type": "image"
	},
	"nasa": {
		"count": 5,
		"image_type": "astronomical"
	},
	"maps": {
		"file_count": 4
	},
	"bubbles": {
		"file_count": 3,
		"iterations": 8,
		"count": 100000,
		"radius": [2,15],
		"center_radius_multiplier": 15.0,
		"#fill_color": [255,255,0],
		"#outline_color": [0,0,255],
		"#bg_color": [255,255,255],
		"width": 1920,
		"height": 1280,
		"image_type": "generated"
	},
	"cubes": {
		"file_count": 6
	},
	"kochSnowflake": {
		"file_count": 6
	},
	"hilbert": {
		"file_count": 10
	},
	"lojong": {
		"file_count": 10,
		"image_type": "text"
	},
	"bible": {
		"file_count": 10,
		"image_type": "text"
	},
	"peripheraldriftillusion": {
		"file_count": 20,
		"image_type": "generated"
	},
	"include": ["maps", "nasa", "wiki", "goes"]
}
